<%- include('../partials/header') %>
<form action="<%= blog ? '/blogs/update' : '/blogs' %>" method="POST">
    <% if (blog) { %>
        <input type="hidden" name="id" value="<%= blog.id %>">
    <% } %>
    <div class="form-group">
        <label for="blog[title]">Title</label>
        <input type="text" class="form-control" name="blog[title]" required value="<%= blog ? blog.title : null %>">
    </div>
    <div class="form-group">
        <label for="blog[content]">Content</label>
        <textarea class="form-control" name="blog[content]"><%= blog ? blog.content : null %></textarea>
    </div>
    <div class="form-group">
        <label for="blog[status]">Status</label>
        <select class="form-control" name="blog[status]" required>
            <% ['DRAFT', 'PUBLISHED'].forEach(function(status) { %>
                <option value="<%= status %>" <%= blog && blog.status === status ? 'selected' : '' %>><%= status.toLowerCase() %></option>
            <% }); %>
        </select>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-dark">Submit</button>
    </div>
</form>

<%- include('../partials/footer') %>