<%- include('../partials/header') %>
    <div class="container">
        <header>
            <h1><%= title %></h1>
        </header>
        <div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <% blogs.forEach(blog => { %>
                        <tr>
                            <td>
                                <a href="/blogs/<%= blog.id %>"><%= blog.title %></a>
                            </td>
                            <td><%= blog.status %></td>
                            <td>
                                <a href="/blogs/<%= blog.id %>/edit">Edit</a>
                                | 
                                <form action="/blogs/delete" method="POST" onsubmit="return confirm('Are you sure you want to delete this post?')">
                                    <input type="hidden" name="id" value="<%= blog.id %>">
                                    <input type="submit" value="delete">
                                </form>
                            </td>
                        </tr>
                    <% }); %>
                </tbody>
            </table>
        </div>
    </div>

<%- include('../partials/footer') %>