<%- include('../partials/header') %>
<header class="mb-4">
    <h1><%= blog.title %></h1>
</header>
<h5>Original Post:</h5>
<div id="blogPost" class="card">
    <div class="card-body">
        <p class="card-text"><%= blog.content || "Your story is processing..." %></p>
        <p class="card-text">
            <span id="bold">Posted by: </span> <%= blog.user.username || "Unknown User" %> @ <%= blog.createdAt %>
        </p>
    </div>
</div>
<br>
<h5>Replies:</h5>
<div class="page-container">
    <div id="replySection">
        <% paginatedReplies.forEach(reply => { %>
            <div class="card mt-3" id="replyCard">
                <div class="card-body">
                    <p class="card-text"><%= reply.content %></p>
                    <p class="card-text">
                        <span id="bold">Posted by: </span><%= reply.user ? reply.user._id : "Unknown User" %> @ <%= reply.createdAt %>
                    </p>
                </div>
            </div>
        <% }); %>
    </div>
    
    <!-- Pagination -->
    <div class="pagination">
        <% if (currentPage > 1) { %>
            <a href="/blogs/<%= blog._id %>?page=1">&lt;&lt;</a>
            <a href="/blogs/<%= blog._id %>?page=<%= Math.max(currentPage - 1, 1) %>">&lt;</a>
        <% } %>
      
        <% const maxPagesToShow = 10; // Adjust this value based on your preference %>
        <% const startPage = Math.max(currentPage - Math.floor(maxPagesToShow / 2), 1); %>
        <% const endPage = Math.min(startPage + maxPagesToShow - 1, totalPages); %>
      
        <% for (let i = startPage; i <= endPage; i++) { %>
            <a href="/blogs/<%= blog._id %>?page=<%= i %>" class="<%= currentPage === i ? 'active' : '' %>">
                <%= i %>
            </a>
        <% } %>
      
        <% if (currentPage < totalPages) { %>
            <a href="/blogs/<%= blog._id %>?page=<%= Math.min(currentPage + 1, totalPages) %>">&gt;</a>
            <a href="/blogs/<%= blog._id %>?page=<%= totalPages %>">&gt;&gt;</a>
        <% } %>
    </div>
</div> <!-- Line Changed -->
</div>

<%- include('../partials/footer') %>
