<%- include('../partials/header') %>
<div id="rowFlex">
  <h1>Your <%= title %></h1>
  <!--{{#if user}}-->
  <a class="btn btn-info" id="buttonPad" href="/protists/add">Add a new protist</a>
  <!--{{/if}}-->
<!--{{! Add links to CRUD operations }}
{{!commented out to not allow viewers to edit/ user can add when editing}}-->
</div>

<!--{{! To Show data }}-->
<div class="page-container"> <!-- Line Changed -->
  <div class="table-container"> <!-- Line Changed -->
    <table class="table table-striped table-hover">
      <thead>
        <th>Name</th>
        <th>Date Identified</th>
        <th>Location</th>
        <th>Image</th>
        <!--{{#if ./user}}-->
        <th>Actions</th>
        <!--{{/if}} -->
      </thead>
      <tbody>
        <% dataset.forEach(function(item) { %>
          <tr>
            <td class="names"><%= item.name %></td>
            <td id="td2">
              <ul id="cellList"><%= item.updateDate %></ul>
            </td>
            <td id="td5" class="map-container">
              <ul id="cellList" class="coordinates"><%= item.location %></ul>
              <div class="map" style="height: 200px; width: 200px;"></div>
            </td>
            <td class="col-md-3">
              <div class="gallery-item">
                  <img class="thumbnail w-75" src="images/protist_images/<%= item.image %>" onclick="showImage(this)" />
                <div class="overlay" onclick="hideImage()">
                  <span class="close" onclick="hideImage()">&times;</span>
                  <img class="enlarged-image" id="enlarged-image" />
                </div>
              </div>
            </td>
            <td id="action">
              <a class="btn btn-primary" href="/protists/edit/<%= item._id %>">Edit</a>
              <a class="btn btn-danger" href="/protists/delete/<%= item._id %>" onclick="return confirmDeletion()">Delete</a>
            </td>
          </tr>
        <% }); %>
      </tbody>
    </table>
  </div> <!-- Line Changed -->
  <!-- Pagination -->
  <div class="pagination">
    <% if (currentPage > 1) { %>
      <a href="/protists?page=1">&lt;&lt;</a> <!-- Rewind to first page -->
      <a href="/protists?page=<%= currentPage - 1 %>">&lt;</a> <!-- Previous page -->
    <% } %>

    <% for (let i = 1; i <= totalPages; i++) { %>
      <a href="/protists?page=<%= i %>" class="<%= currentPage === i ? 'active' : '' %>">
        <%= i %>
      </a>
    <% } %>

    <% if (currentPage < totalPages) { %>
      <a href="/protists?page=<%= currentPage + 1 %>">&gt;</a> <!-- Next page -->
      <a href="/protists?page=<%= totalPages %>">&gt;&gt;</a> <!-- Fast forward to last page -->
    <% } %>
  </div>
</div> <!-- Line Changed -->
<%- include('../partials/footer') %>